<% if scene %>
  <div class="card search-result">
    <div class="card-body">
      <div id="scene-heading">
        <h3><%= scene.title %></h3>
        <h4>Season <%= scene.season %> episode <%= scene.episode %></h4>
      </div>
      <% dialogue_lines(scene).each_with_index do |line, i| %>
        <p>
          <span class="<%= line_class(i) %>">
            <%= line_speaker(line) %>
          </span>
          <%= line_content(line) %>
        </p>
      <% end %>
    </div>
  </div>
  <button type="button" class="btn btn-block new-search">New Search</button>
<% end %>