<!DOCTYPE html>
<html>
  <head>
    <title>MeeseeksBox</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main">
      <%= yield %>
      <footer class="footer navbar-static-bottom">
        <p><a href="http://github.com/sophiedebenedetto/meeseeks_box">code</a> | <%= link_to "about", about_path %></p>
      </footer>
    </div>
  </body>
</html>
